@{
    ViewBag.Title = "About";
    
}

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"  style="float: none; margin:0 auto; text-align: center;">
                <h2 class="title-one">WHY AARON ROWAN?</h2>
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <h4>Skills</h4>
            <div >
                <div class="col-sm-8 col-md-offset-2" style="text-align:center;">                
                    <p>My name is Aaron Rowan.  I am a web developer in the Charlotte, NC area.  I work in Microsoft .NET technologies inclulding C#, VB.NET, ASP.NET.  Naturally, I am also very familiar with a wide range of front end tools: JavaScript, jQuery, CSS3, HTML5, AJAX.  I've spent a great deal of time developing and interacting with back end tools: SQL Server (both Microsoft and Oracle).  My hobby work has included C with the Arduino and some wireless communication protocols for the XBee.</p>
                    <p>I’ve been programming since I was 5 years old on my family’s Tandy TRS80 Color Computer 2.  The true PC prototype, this unit used our TV and had it’s 5 ½” floppy drive connected via an external ribbon cable.  I created programs in BASIC to create simple, interactive images on the screen and output and modulate sound.  </p>
                    <p>Thus far in my career, I have focused on developing streamlined and efficient processes.  I’ve been developing my IT skills through my extensive project and process work, developing a number of applications specifically designed to the needs of my employers.  Now in Charlotte, I’m presented with a healthy job market and an opportunity to really focus on the skills I have been less formally developing for the past 30 years.</p>
                    <p>I love solving problems and have had some excellent success volunteering.  I was the lead engineering mentor for a regional high school robotics team.  We received the rookie achievement award for our dedication and relentless approach to creating and maintaining our robot throughout the Philadelphia Alliance Regional at Drexel University.</p>
                    
                
                </div>
                <div class="col-sm-4">
                    
                </div>

            </div>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Education, Experience, Certifications, Achievements and Activities:  </h3>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#education" data-toggle="tab"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</a></li>
                        <li><a href="#project" data-toggle="tab"> <i class="fa fa-calendar-check-o" aria-hidden="true"></i>  Experience</a></li>                       
                        <li><a href="#environment" data-toggle="tab"><i class="fa fa-recycle" aria-hidden="true"></i> Environment</a></li>
                        <li><a href="#volunteer" data-toggle="tab"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Volunteer</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="education">
                            <div class="media">                                
                                <div class="media-body col-md-3">
                                    <img class="pull-left media-object" src="~/images/about-us/rpi-seal.jpg" alt="Education" style="width:100px">
                                    <img class="pull-left media-object" src="~/images/about-us/Suny.JPG" style="height:100px" />
                                </div>
                                <div class="media-body col-md-9">
                                    <p>My Bachelors of Science in Materials Engineering from RPI provides a firm technical foundation but is only a small part of my education. </p>
                                    <p>From AP English in high school to playing football in college while taking up to 21 credits, I have always reached beyond my comfort zone to develop myself.</p>
                                    <p>This tradition has continued through my professional career.</p>
                                    <h4 style="margin-bottom: 10px"><b> The Not So Short List: </b></h4>
                                    <ul>
                                        <li>BS Materials Engineering, Minor in Civil Engineering and German - Rensselaer Polytechnic Institute</li>
                                        <li>MBA Project Management and Accounting - SUNY Oswego</li>
                                        <li>Project Management Professional (PMP) - PMI : Cert # 1882405</li>
                                        <li>Certified Quality Engineer (CQE) - Cert # 62457</li>
                                        <li>Certified Lean Six Sigma Black Belt - Certified per George Group and Simpler, LLC</li>
                                        <li>ISO 9001: TS 16949 Certified Auditor</li>                                        
                                    </ul>
                                </div>  
                            </div>
                        </div>
                        <div class="tab-pane fade" id="project">
                            <div class="media">
                                <div class="media-body col-md-3">
                                    <img src="~/images/about-us/Novelis.png" style="width:150px;" />
                                    <img class="pull-left media-object" src="~/images/about-us/PMP-certification-jobs.png" alt="project" style="width:150px">                                    
                                </div>
                                <div class="media-body col-md-9">
                                    <p>I have had a lot of success managing projects for process improvement.  </p>
                                    <h4 style="margin-bottom: 10px"> Key Wins:</h4>
                                    <h5>Developed an Energy Management Dashboard.</h5> <p> Working with a local developer, I provided the requirements, wireframes and all of the SQL queries required.  The queries pulled from both SQL Server as well as Oracle databases of varying ages.  </p>
                                    <h5>Developed a Process to Transport Molten Aluminum</h5> <p>I developed a process to truck <b>molten aluminum</b> 150 miles from a supplier.  Working with a French Canadian trucking company and a supplier who was a key competitor I developed a safe, productive and cost beneficial process.</p>
                                   
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="environment">
                            <div class="media">
                                <img class="pull-left media-object" src="~/images/about-us/car-co2.jpg" alt="Environment" style="width:150px;">
                                <div class="media-body">
                                    <h4 style="margin-bottom: 10px; margin-top: 5px;">Leaving a Legacy</h4><p><b>Improving the environmental footprint of an entire industry.</b></p>
                                    <p>Collaborating with all parts of our organiztion, I identfied a key change to our products that would enable us to use significantly more recycled material.</p>
                                    <p><b>Net Effects: </b></p>
                                    <ul>
                                        <li>Reduced our company's Carbon Footprint by an Amount Equivalent to 200,000 Cars per Year.</li>
                                        <li>New Process Saves $8 Million per Year</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="volunteer">
                            <div class="media">
                                <img class="pull-left media-object" src="~/images/about-us/canGrant.jpg" alt="Volunteer">
                                <div class="media-body">
                                    <h4 style="margin-bottom:10px; margin-top: 5px;"> I have a tradition of giving back:</h4> 
                                    <p> I was the lead engineering mentor for our local <a href="http://www.firstinspires.org/">FIRST </a> High School Robotics Team</p>
                                    <p> I was a founding member of a community fundraising organization <a href="https://www.facebook.com/Novelis-Cans-for-the-Community-158963970794045/?ref=aymt_homepage_panel">Cans for the Community</a> collecting cans to provide grants to local schools and youth organizations. </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------------------------------------------------
                <div class="col-sm-6">
                    <h3>Skills</h3>
                    <div class="skill-bar">
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title">
                                <span>HTML5 &amp; CSS3</span>
                            </div>
                            <div class="skillbar-bar"></div>
                           
                        </div> <!-- End Skill Bar
                        <div class="skillbar clearfix" data-percent="100%">
                            <div class="skillbar-title"><span>UI Design</span></div>
                            <div class="skillbar-bar"></div>
                            
                        </div> <!-- End Skill Bar --
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title"><span>jQuery &amp; Java</span></div>
                            <div class="skillbar-bar"></div>
                           
                        </div> <!-- End Skill Bar --
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title"><span>PHP</span></div>
                            <div class="skillbar-bar"></div>
                           
                        </div> <!-- End Skill Bar --
                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title"><span>Wordpress</span></div>
                            <div class="skillbar-bar"></div>
                            
                        </div> 
                    </div>
                </div><!-- End Skill Bar -->
            </div>
        </div>
    </div>
</section><!--/#about-us-->