@{
    ViewBag.Title = "Home";
}

<section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner">
            <div class="item active headImage" style="background-image: url(images/slider/charlotte.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Aaron Rowan</h2>
                        <p class="animated bounceInUp">C# ASP.NET Full Stack Web Developer</p>
                        
                    </div>
                </div>
            </div>
            <div class="item headImage" style="background-image: url(images/slider/rpi-empac.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Rensselaer Engineering Education</h2>
                        <p class="animated bounceInUp">A Great Foundation</p> 
                    </div>
                </div>
            </div>
            <div class="item headImage" style="background-image: url(/images/slider/trs80_coco2_manual_large.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInRight">A Long History of Programming</h2>
                        <p class="animated bounceInLeft">Starting Early</p>                       
                    </div>
                </div>
            </div>
        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section><!--/#home-->
