
@{
    ViewBag.Title = "Skills";
    }

<section id="skills" class="parallax-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Key Skills</h2>
                <p>Combining years of business and process analysis, MBA skills with web development means that I can not only build software, I can build the solutions you need to the problems you have today.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="our-service">
                    <div class="services row">                        
                        <div class="col-sm-4" style="height:950px">
                            <div class="single-service">
                                <i class="fa fa-html5"></i>
                                <h2>Web Development</h2>
                                <h4>Extensive full stack skills.</h4>
                                <h5>Front End:</h5>
                                <ul>
                                    <li>HTML5</li>
                                    <li>CSS3</li>
                                    <li>AngularJS</li>
                                    <li>JavaScript</li>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                </ul>
                                <h5>Supporting and Back End:</h5>
                                <ul>
                                    <li><b>C#</b></li>
                                    <li>ASP.NET + AJAX</li>
                                    <li>SQL Server</li>
                                    <li>LINQ</li>
                                    <li>VisualStudio</li>
                                    <li>GitHub</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4" style="height:950px">
                            <div class="single-service">
                                <i class="fa fa-area-chart"></i>
                                <h2>Business Modeling and Analysis</h2>
                                <p>I have experience with many critical business, process and financial analysis tools.</p>
                                <ul>
                                    <li>Business Process Mapping and Analysis</li>
                                    <li>Financial Modelling: 
                                        <ul>
                                            <li>ROI</li>
                                            <li>NPV</li>
                                            <li>Payback Period</li>
                                        </ul>
                                    </li>
                                    <li>Value-Stream Analysis</li>
                                    <li>Strategic Inventory Development</li>
                                    <li>Capability Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4" style="height:950px">
                            <div class="single-service"v>
                                <i class="fa fa-calendar-check-o"></i>
                                <h2>Project Management</h2>
                                <h4>PMP Certification</h4>
                                <h4>Lean Six Sigma Black Belt Certification</h4>
                                <p>I've played a key role developing business changing projects.  Our organization needed additional molten inputs but lacked capital to invest. A concept was developed and I was assigned the project.  Tasked with developing a new process, supplier and carrier, I analyzed the situation and developed the entire process and business model.  The process proved safe and efficient and the holistic business model provided the promised value. Millions of pounds safely transported later, the process is still performing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#skills-->

